.jumbotron {
    background-color: yellow;
    margin-top: 50px;
}

footer {
    padding: 10px;
    background-color: yellow;
    margin-bottom: 0px;
}

.card-hotel {
    flex: 1 200px;
}

.btn-reservation {
    width: 100%;
    border-radius: 0px;
}

.tab-content {
    padding-top: 10px;
}