$yellow: #90EE90;

@mixin margin($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    margin-top: 50px;
    @include margin(50px, 0px);
}

footer {
    padding: 10px;
    background-color: $yellow;
    @include margin(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margin(10px, 0px);
}

.btn-reservation {
    width: 100%;
    border-radius: 0px;
}

.tab-content {
    padding-top: 10px;
}