.jumbotron {
  background-color: #90EE90;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px;
  background-color: #90EE90;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reservation {
  width: 100%;
  border-radius: 0px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
