@yellow: #DCE854;

.margin(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    .margin (50px, 0px);
}
  
  footer {
    padding: 10px;
    background-color: @yellow;
    .margin (10px, 0px);    
}
  
  .card-hotel {
    flex: 1 200px;
    .margin (10px, 0px);
}
  
  .btn-reservation {
    width: 100%;
    border-radius: 0px; 
}
  
  .tab-content {
    padding-top: 10px; 
}
  