.jumbotron {
  background-color: #DCE854;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px;
  background-color: #DCE854;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reservation {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
